{% extends "./template.html" %} {% block content %}
<div class="shadow-lg p-1 m-auto w-50">
    <h3 class="text-primary">
        <i class="bi bi-journal-plus"></i> Cadastro de Vencimento
    </h3>
    <hr />
    <form class="p-4" action="/vencimentos/cadastro" method="post">
        <div class="row">
            <div class="col mb-3">
                <label for="codigo_produto">
                    <i class="bi bi-upc-scan"></i> Código do Produto:
                </label>
                <input
                    readonly
                    class="form-control text-center m-auto"
                    type="number"
                    id="codigo_produto"
                    name="codigo_produto"
                    value="{{ produto.codigo_do_produto }}"
                    required
                />
            </div>

            <div class="col mb-3">
                <label for="nome_produto">
                    <i class="bi bi-box-seam"></i> Nome do Produto:
                </label>
                <input
                    readonly
                    class="form-control text-center m-auto"
                    type="text"
                    id="nome_produto"
                    name="nome_produto"
                    minlength="600"
                    value="{{ produto.nome_do_produto }}"
                    required
                />
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="quantidade">
                    <i class="bi bi-hash"></i> Quantidade:
                </label>
                <input
                    class="form-control text-center m-auto"
                    type="number"
                    id="quantidade"
                    name="quantidade"
                    step="0.001"
                    min="0"
                    value="0"
                    required
                />
            </div>

            <div class="col mb-3">
                <label for="data_vencimento">
                    <i class="bi bi-calendar-date"></i> Data de Vencimento:
                </label>
                <input
                    class="form-control text-center m-auto"
                    type="date"
                    id="data_vencimento"
                    name="data_vencimento"
                    required
                />
            </div>
        </div>
        <button
            type="submit"
            class="btn btn-primary m-auto btn-sm m-2 d-flex align-items-center"
        >
            <i class="bi bi-check-circle me-2"></i> Cadastrar
        </button>
    </form>
</div>
{% endblock %}
