@media print {
    .somente-impressao {
        display: block !important;
    }
}
@media print {
    .menu,
    .banner,
    footer,
    .navbar,
    .botoesacao {
        display: none;
    }
    .resumo {
        page-break-after: always;
    }
}

. {
    display: none; /* Oculta no navegador */
}
