{% extends "./template.html" %} {% block content %}
<div class="shadow-lg p-1 m-auto border-orange w-50">
    <h3><i class="bi bi-truck me-2"></i>Cadastro de transferência</h3>
    <div class="mb-3">
        <img
            class="procurarimg"
            src="../static/imagens/caminhao-de-entrega.gif"
            width="100"
            alt=""
        />
    </div>
    <hr />
    <form
        class="p-4"
        action="/transferencia/cadastrar"
        enctype="multipart/form-data"
        method="post"
    >
        <div class="row">
            <div class="col mb-3 w-50 m-auto">
                <label for="data"
                    ><i class="bi bi-calendar-event me-1"></i>Data da
                    transferência:</label
                >
                <input
                    class="form-control text-center"
                    type="date"
                    id="data"
                    name="data"
                    required
                />
            </div>

            <div class="col mb-3 w-50 m-auto">
                <label for="pedido"
                    ><i class="bi bi-hash me-1"></i>Nº pedido:</label
                >
                <input
                    class="form-control text-center"
                    type="number"
                    id="pedido"
                    name="pedido"
                    step="1"
                    min="0"
                    required
                />
            </div>

            <div class="col mb-3 m-auto">
                <label for="loja"><i class="bi bi-shop me-1"></i>Loja:</label>
                <select class="form-select text-center" name="loja" id="loja">
                    <option value="Parnamirim">Parnamirim</option>
                    <option value="Lagoa Nova">Lagoa Nova</option>
                    <option value="Zona Norte">Zona Norte</option>
                    <option value="Distribuidora">Distribuidora</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col mb-3 m-auto">
                <label for="tipo"><i class="bi bi-tags me-1"></i>Tipo:</label>
                <select class="form-select text-center" name="tipo" id="tipo">
                    {% for i in tipos %}
                    <option class="lista">{{ i.nome }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col mb-3 w-50 m-auto">
                <label for="comprador"
                    ><i class="bi bi-person-check me-1"></i>Comprador:</label
                >
                <select
                    required
                    name="comprador"
                    class="form-select text-center"
                    id="comprador"
                >
                    {% for i in compradores %}
                    <option class="lista">{{ i.nome }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="mb-3 m-auto">
            <label for="obs"
                ><i class="bi bi-chat-left-text me-1"></i>Observações:</label
            >
            <textarea
                class="form-control text-left"
                name="obs"
                id="obs"
                cols="40"
                rows="3"
            ></textarea>
        </div>

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary px-4">
                <i class="bi bi-save2 me-1"></i> Cadastrar
            </button>
        </div>
    </form>
</div>
{% endblock %}
