{% extends "./template.html" %} {% block content %}

<h3><i class="bi bi-clipboard-data me-2"></i>Listagem de erros de atacado</h3>
<h4>
    <i class="bi bi-calendar-range me-1"></i>Referente ao período de {{
    data_inicial.strftime('%d/%m/%Y') }} à {{ data_final.strftime('%d/%m/%Y') }}
</h4>

<div
    class="resumo d-flex flex-column justify-content-center align-items-center m-1 p-1 text-center"
>
    <!-- Tabela de resumo por funcionário -->
    <div class="border-orange shadow m-3 p-2 h-25" style="width: fit-content">
        <h5><i class="bi bi-people-fill me-1"></i>Erros por Funcionário</h5>
        <table
            class="tabela text-center table-bordered align-middle border-black"
        >
            <thead class="border-black">
                <tr>
                    <th>Funcionário</th>
                    <th>Erros</th>
                </tr>
            </thead>
            <tbody>
                {% for funcionario in erros_por_funcionario %}
                <tr>
                    <td>{{ funcionario.erro_funcionario }}</td>
                    <td>{{ funcionario.total_erros }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Tabela completa de erros -->
    <div
        class="resumo d-flex flex-column justify-content-center align-items-center align-self-center m-1 p-1 text-center"
    >
        <div class="table-responsive m-2 p-2 fs-12">
            <table
                class="shadow-lg table-bordered m-auto background-suave table-sm text-center align-middle border-black"
            >
                <thead>
                    <tr>
                        <th><i class="bi bi-calendar-day"></i> Data</th>
                        <th><i class="bi bi-person-fill"></i> Funcionário</th>
                        <th><i class="bi bi-people-fill"></i> Cliente</th>
                        <th>
                            <i class="bi bi-exclamation-triangle-fill"></i>
                            Erros
                        </th>
                        <th><i class="bi bi-box-seam"></i> Produtos</th>
                        <th>
                            <i class="bi bi-card-text"></i> Descrição do erro
                        </th>
                        <th><i class="bi bi-person-badge"></i> Criador</th>
                        <th class="botoesacao">
                            <div>
                                <i
                                    class="bi bi-trash3-fill align-self-center;"
                                ></i>
                                Ação
                            </div>
                        </th>
                    </tr>
                </thead>
                {% for erro in erros %}
                <tbody>
                    <tr>
                        <td>{{ erro.data_do_erro.strftime('%d/%m/%Y') }}</td>
                        <td>{{ erro.erro_funcionario }}</td>
                        <td>{{ erro.erro_cliente}}</td>
                        <td>{{ erro.quantidade_de_erros}}</td>
                        <td>{{ erro.produto_erro }}</td>
                        <td>{{ erro.descricao_do_erro }}</td>
                        <td>{{ erro.criador }}</td>
                        <td>
                            <form
                                action="/atacado/deletar_erro/{{ erro.id }}"
                                method="post"
                            >
                                <button
                                    type="submit"
                                    class="botoesacao m-auto btn btn-danger btn-sm mb-1"
                                    title="Apagar"
                                >
                                    <i class="bi bi-trash3-fill"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% endblock %}
</div>
