{% extends "./template.html" %} {% block content %}
<div class="shadow-lg p-2 mt-3 mb-5 border-orange rounded w-50 m-auto bg-dark">
    <h3><i class="bi bi-pencil-square"></i> Cadastro de conferência</h3>
    <hr />

    <form
        class="p-2"
        action="/conferencia/cadastrar"
        enctype="multipart/form-data"
        method="post"
    >
        <div class="row">
            <div class="col mb-3">
                <label for="codigo_produto"
                    ><i class="bi bi-upc-scan"></i> Código do Produto:</label
                >
                <input
                    class="form-control text-center"
                    readonly
                    type="number"
                    id="codigo_produto"
                    name="codigo_produto"
                    value="{{ produto.codigo_do_produto }}"
                    required
                />
            </div>
            <div class="col mb-3">
                <label for="nome_produto"
                    ><i class="bi bi-box-seam"></i> Nome do Produto:</label
                >
                <input
                    class="form-control text-center"
                    readonly
                    type="text"
                    id="nome_do_produto"
                    name="nome_do_produto"
                    value="{{ produto.nome_do_produto }}"
                    required
                />
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <label for="data_conferencia"
                    ><i class="bi bi-calendar-date"></i> Data de
                    conferência:</label
                >
                <input
                    class="form-control text-center"
                    type="date"
                    id="data_conferencia"
                    name="data_conferencia"
                    required
                />
            </div>
            <div class="col mb-3">
                <label for="quantidade_sistema"
                    ><i class="bi bi-hdd-network"></i> Quantidade no
                    sistema:</label
                >
                <input
                    class="form-control text-center"
                    type="number"
                    id="quantidade_sistema"
                    name="quantidade_sistema"
                    step="0.001"
                    value="0"
                    required
                />
            </div>
            <div class="col mb-3">
                <label for="quantidade_fisico"
                    ><i class="bi bi-archive-fill"></i> Quantidade no
                    físico:</label
                >
                <input
                    class="form-control text-center"
                    type="number"
                    id="quantidade_fisico"
                    name="quantidade_fisico"
                    step="0.001"
                    value="0"
                    required
                />
            </div>
        </div>

        <div class="row">
            <div class="col mb-3 d-flex align-items-center gap-2">
                <input
                    class="form-check-input"
                    type="checkbox"
                    id="ajuste"
                    name="ajuste"
                    value="True"
                />
                <label class="form-check-label" for="ajuste"
                    ><i class="bi bi-pencil-fill"></i> Produto ajustado?</label
                >
            </div>
            <div class="col mb-3 d-flex align-items-center gap-2">
                <input
                    class="form-check-input"
                    type="checkbox"
                    id="produtos_conferidos_lojas"
                    name="produtos_conferidos_lojas"
                    value="True"
                />
                <label class="form-check-label" for="produtos_conferidos_lojas"
                    ><i class="bi bi-shop"></i> Produto conferido nas
                    lojas?</label
                >
            </div>
        </div>

        <div class="row">
            <div class="col mb-3 d-flex align-items-center gap-2">
                <input
                    class="form-check-input"
                    type="checkbox"
                    id="divergencia_sistema"
                    name="divergencia_sistema"
                    value="True"
                />
                <label class="form-check-label" for="divergencia_sistema"
                    ><i class="bi bi-exclamation-circle-fill"></i> Divergência
                    no sistema?</label
                >
            </div>
            <div class="col mb-3">
                <label for="conferente"
                    ><i class="bi bi-person-fill"></i> Conferente:</label
                >
                <select
                    required
                    name="conferente"
                    class="form-select text-center"
                    id="conferente"
                >
                    {% for i in conferentes %}
                    <option class="lista">{{ i.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col mb-3 d-flex align-items-center gap-2">
                <label class="form-check-label" for="produto_trocado"
                    ><i class="bi bi-exclamation-circle-fill"> </i> Saída de
                    produto trocado?</label
                >
                <input
                    class="form-check-input"
                    type="checkbox"
                    id="produto_trocado"
                    name="produto_trocado"
                    value="True"
                />
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <button class="btn btn-primary btn-sm" type="submit">
                <i class="bi bi-check2-circle"></i> Cadastrar
            </button>
        </div>
    </form>
</div>
{% endblock %}
