{% extends "./template.html" %} {% block content %}

<h2 class="m-2">
    Produtos conferidos de {{data_inicial.strftime('%d/%m/%Y')}} a
    {{data_final.strftime('%d/%m/%Y')}}
</h2>
<h4 class="m-2">
    <i class="bi bi-check2-square"></i>
    Total de itens conferidos: {{ totalitens }}.
</h4>
<div
    class="d-flex flex-column align-items-center w-75 m-auto justify-content-center text-center mt-4"
>
    <h5>
        <i class="bi bi-check2-square"></i>
        Itens conferidos por conferente:
    </h5>
    <table
        class="table-bordered mb-4 w-25 text-center align-middle border-black"
    >
        <thead>
            <tr>
                <th><i class="bi bi-person"></i> Conferente</th>
                <th><i class="bi bi-list-ol"></i> Quantidade</th>
            </tr>
        </thead>
        <tbody>
            {% for conferente, quantidade in conferencias_por_conferente %}
            <tr>
                <td>{{ conferente }}</td>
                <td>{{ quantidade }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-center text-center">
    <div class="shadow-lg table-responsive">
        <table class="table-bordered text-center align-middle border-black">
            <thead>
                <tr>
                    <th><i class="bi bi-calendar-day"></i> Data</th>
                    <th><i class="bi bi-upc"></i> Código</th>
                    <th><i class="bi bi-box"></i> Produto</th>
                    <th><i class="bi bi-shop"></i> Lojas?</th>
                    <th><i class="bi bi-tools"></i> Ajuste?</th>
                    <th>
                        <i class="bi bi-exclamation-circle"></i> Divergência?
                    </th>
                    <th><i class="bi bi-layers"></i> Sistema</th>
                    <th><i class="bi bi-archive"></i> Físico</th>
                    <th><i class="bi bi-arrow-left-right"></i> Diferença</th>
                    <th><i class="bi bi-person-check"></i> Conferente</th>
                    <th><i class="bi bi-trash"></i> Ação</th>
                    <th><i class="bi bi-person-badge"></i> Criador</th>
                </tr>
            </thead>
            <tbody>
                {% for conferencia in conferencias %}
                <tr>
                    <td>
                        {{ conferencia.data_conferencia.strftime('%d/%m') }}
                    </td>
                    <td>{{ conferencia.codigo_produto }}</td>
                    <td>{{ conferencia.nome_do_produto }}</td>
                    <td>
                        {{ 'Sim' if conferencia.produto_conferido_lojas else
                        'Não' }}
                    </td>
                    <td>{{ 'Sim' if conferencia.ajuste else 'Não' }}</td>
                    <td>
                        {{ 'Sim' if conferencia.divergencia_sistema else 'Não'
                        }}
                    </td>
                    <td>
                        {{ conferencia.quantidade_sistema | format_quantidade }}
                    </td>
                    <td>
                        {{ conferencia.quantidade_fisico | format_quantidade }}
                    </td>
                    {% if conferencia.quantidade_diferenca < 0 %}
                    <td style="background-color: red; color: white">
                        {{ conferencia.quantidade_diferenca | format_quantidade
                        }}
                    </td>
                    {% else %}
                    <td style="background-color: green; color: white">
                        {{ conferencia.quantidade_diferenca | format_quantidade
                        }}
                    </td>
                    {% endif %}
                    <td>{{ conferencia.conferente }}</td>
                    <td class="flexNoBoards botoesacao">
                        {% if current_user.is_authenticated and
                        current_user.username == conferencia.criador %}
                        <form
                            action="/conferencia/deletar/{{ conferencia.id }}"
                            method="get"
                        >
                            <button
                                class="btn btn-sm btn-warning"
                                title="Apagar"
                            >
                                <i class="bi bi-trash"></i>
                            </button>
                        </form>
                        {% endif %}
                    </td>
                    <td>{{ conferencia.criador }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
