{% extends "./template.html" %} {% block content %}
<style>
    table.dataTable th,
    table.dataTable td {
        text-align: center !important;
        vertical-align: middle !important;
    }

    th.sorting,
    th.sorting_asc,
    th.sorting_desc,
    th.sorting_disabled {
        text-align: center !important;
        vertical-align: middle !important;
    }

    .dataTables_length .form-select {
        background-color: #212529 !important;
        color: white;
    }
    .dataTables_length {
        display: flex;
    }
</style>
<h2 class="m-2">
    <i class="bi bi-clipboard-data"></i> Produtos conferidos no mês
</h2>
<br />
<h5 class="m-2">
    <i class="bi bi-check2-square"></i> Total de itens conferidos: {{ totalitens
    }}.
</h5>

<div class="d-flex justify-content-center text-center">
    <div class="shadow-lg table-responsive w-100">
        <table
            id="tabelaConferencias"
            class="small table table-bordered table-dark border-black text-center align-middle border"
        >
            <thead>
                <tr>
                    <th><i class="bi bi-calendar-event"></i> Data</th>
                    <th><i class="bi bi-upc-scan"></i> Código</th>
                    <th><i class="bi bi-box-seam"></i> Produto</th>
                    <th><i class="bi bi-shop"></i> Lojas?</th>
                    <th><i class="bi bi-pencil-square"></i> Ajuste?</th>
                    <th>
                        <i class="bi bi-exclamation-circle"></i> Divergência?
                    </th>
                    <th><i class="bi bi-hdd-network"></i> Sistema</th>
                    <th><i class="bi bi-archive-fill"></i> Físico</th>
                    <th><i class="bi bi-arrow-left-right"></i> Diferença</th>
                    <th><i class="bi bi-person-fill"></i> Conferente</th>
                    <th><i class="bi bi-tools"></i> Ação</th>
                    <th class="botoesacao">
                        <i class="bi bi-person-badge-fill"></i> Criador
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for conferencia in conferencias %}
                <tr>
                    <td>
                        {{ conferencia.data_conferencia.strftime('%d/%m') }}
                    </td>
                    <td>{{ conferencia.codigo_produto }}</td>
                    <td>{{ conferencia.nome_do_produto }}</td>
                    <td>
                        {{ 'Sim' if conferencia.produto_conferido_lojas else
                        'Não' }}
                    </td>
                    <td>{{ 'Sim' if conferencia.ajuste else 'Não' }}</td>
                    <td>
                        {{ 'Sim' if conferencia.divergencia_sistema else 'Não'
                        }}
                    </td>
                    <td>
                        {{ conferencia.quantidade_sistema | format_quantidade }}
                    </td>
                    <td>
                        {{ conferencia.quantidade_fisico | format_quantidade }}
                    </td>
                    {% if conferencia.quantidade_diferenca < 0 %}
                    <td style="background-color: red; color: white">
                        {{ conferencia.quantidade_diferenca | format_quantidade
                        }}
                    </td>
                    {% else %}
                    <td style="background-color: green; color: white">
                        {{ conferencia.quantidade_diferenca | format_quantidade
                        }}
                    </td>
                    {% endif %}
                    <td>{{ conferencia.conferente }}</td>
                    <td class="flexNoBoards botoesacao">
                        {% if current_user.is_authenticated and
                        current_user.username == conferencia.criador %}
                        <form
                            action="/conferencia/deletar/{{ conferencia.id }}"
                            method="get"
                        >
                            <button
                                type="submit"
                                class="btn btn-sm btn-danger d-flex align-items-center gap-1"
                            >
                                <i class="bi bi-trash"></i> Apagar
                            </button>
                        </form>
                        {% endif %}
                    </td>
                    <td>{{ conferencia.criador }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        new DataTable("#tabelaConferencias", {
            responsive: true,
            pageLength: 10,
            searching: true,
            order: [[0, "desc"]],
            columnDefs: [{ orderable: false, targets: [4, 5] }], // Ajuste os índices conforme suas colunas
            language: {
                search: "Procurar:",
                decimal: ",",
                emptyTable: "Nenhum dado disponível na tabela",
                info: "Mostrando _START_ até _END_ de _TOTAL_ registros",
                infoEmpty: "Mostrando 0 até 0 de 0 registros",
                infoFiltered: "(filtrado de _MAX_ registros no total)",
                thousands: ".",
                lengthMenu: "Mostrar _MENU_ registros",
                loadingRecords: "Carregando...",
                processing: "Processando...",
                zeroRecords: "Nenhum registro correspondente encontrado",
                paginate: {
                    first: "Primeiro",
                    last: "Último",
                    next: "Próximo",
                    previous: "Anterior",
                },
                aria: {
                    sortAscending:
                        ": ativar para ordenar a coluna em ordem crescente",
                    sortDescending:
                        ": ativar para ordenar a coluna em ordem decrescente",
                },
            },
        });
    });
</script>

{% endblock %}
