{% extends "./template.html" %} {% block content %}

<div class="shadow p-1 m-auto border-orange w-50">
    <h3 class="text-primary">
        <i class="bi bi-pencil-square"></i> Formulário de Avaria
    </h3>

    <hr />
    <form class="p-3" action="/avarias/cadastro" method="post">
        <div class="row">
            <div class="col mb-3">
                <label for="codigo_produto">
                    <i class="bi bi-upc-scan"></i> Código do Produto:
                </label>
                <input
                    readonly
                    class="form-control text-center m-auto"
                    type="number"
                    id="codigo_produto"
                    name="codigo_produto"
                    value="{{ produto.codigo_do_produto }}"
                    required
                />
            </div>

            <div class="col mb-3">
                <label for="nome_produto">
                    <i class="bi bi-box-seam"></i> Nome do Produto:
                </label>
                <input
                    readonly
                    class="form-control text-center m-auto"
                    type="text"
                    id="nome_produto"
                    name="nome_produto"
                    value="{{ produto.nome_do_produto }}"
                    required
                />
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <label for="data_de_insercao">
                    <i class="bi bi-calendar-date"></i> Data:
                </label>
                <input
                    class="form-control text-center m-auto"
                    type="date"
                    id="data_de_insercao"
                    name="data_de_insercao"
                    required
                />
            </div>

            <div class="col mb-3">
                <label for="preco_produto">
                    <i class="bi bi-currency-dollar"></i> Preço de custo (R$):
                </label>
                <input
                    readonly
                    class="form-control text-center m-auto"
                    type="text"
                    id="preco_produto"
                    name="preco_produto"
                    value="{{ produto.preco_do_produto }}"
                    required
                />
            </div>

            <div class="col mb-3">
                <label for="quantidade">
                    <i class="bi bi-hash"></i> Quantidade:
                </label>
                <input
                    class="form-control text-center m-auto"
                    type="number"
                    id="quantidade"
                    name="quantidade"
                    step="0.001"
                    min="0"
                    value="0"
                    required
                />
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <label>
                    <i class="bi bi-exclamation-triangle"></i> Tipo de Avaria:
                </label>
                <select
                    class="form-select text-center m-auto"
                    name="tipodeavaria"
                    id="tipodeavaria"
                >
                    <option value="Embalagem">Embalagem</option>
                    <option value="Estragado">Estragado</option>
                    <option value="Vencido">Vencido</option>
                </select>
            </div>

            <div class="col mb-3">
                <label>
                    <i class="bi bi-gear-fill"></i> Origem de avaria:
                </label>
                <select
                    class="form-select text-center m-auto"
                    name="origem"
                    id="origem"
                >
                    <option value="Não identificado">Não identificado</option>
                    <option value="Manipulação">Manipulação</option>
                    <option value="Sem giro">Sem giro</option>
                    <option value="Armazenamento">Armazenamento</option>
                    <option value="Esquecimento">Esquecimento</option>
                </select>
            </div>

            <div class="col mb-3">
                <label>
                    <i class="bi bi-check-circle"></i> Uso e consumo?:
                </label>
                <select
                    class="form-select text-center m-auto"
                    name="usoeconsumo"
                    id="usoeconsumo"
                >
                    <option>Não</option>
                    <option>Sim</option>
                </select>
            </div>
        </div>

        <button
            type="submit"
            class="btn btn-primary m-auto btn-sm m-2 d-flex align-items-center"
        >
            <i class="bi bi-check-circle me-2"></i> Cadastrar
        </button>
    </form>
</div>

<script>
    const avaria = document.querySelector("#tipodeavaria");
    const origem = document.querySelector("#origem");
    const identificado = origem.querySelector(
        'option[value="Não identificado"]',
    );
    const armazenamento = origem.querySelector('option[value="Armazenamento"]');
    const manipulacao = origem.querySelector('option[value="Manipulação"]');
    const giro = origem.querySelector('option[value="Sem giro"]');
    const esquecimento = origem.querySelector('option[value="Esquecimento"]');

    function atualizarOrigemComBaseNaAvaria() {
        if (avaria.value === "Estragado") {
            giro.disabled = true;
            esquecimento.disabled = true;
            identificado.disabled = false;
            manipulacao.disabled = false;
            armazenamento.disabled = false;
            origem.value = "Armazenamento";
        }

        if (avaria.value === "Vencido") {
            manipulacao.disabled = true;
            identificado.disabled = true;
            armazenamento.disabled = true;
            esquecimento.disabled = false;
            giro.disabled = false;
            origem.value = "Esquecimento";
        }

        if (avaria.value === "Embalagem") {
            manipulacao.disabled = false;
            identificado.disabled = false;
            armazenamento.disabled = false;
            esquecimento.disabled = true;
            giro.disabled = true;
            origem.value = "Manipulação";
        }
    }

    avaria.addEventListener("change", atualizarOrigemComBaseNaAvaria);
    window.addEventListener("DOMContentLoaded", atualizarOrigemComBaseNaAvaria);
</script>

{% endblock %}
