{% extends "./template.html" %} {% block content %}
<div class="shadow-lg p-1 m-auto w-50">
    <h2><i class="bi bi-file-earmark-text me-2"></i>Emitir Relatório</h2>
    <form class="m-2 w-50 m-auto" action="/avarias/relatorio" method="post">
        <label class="m-2" for="codigo_produto">
            <i class="bi bi-upc-scan me-1"></i> Código do Produto: </label
        ><br />
        <input
            class="form-control text-center"
            type="text"
            id="codigo_produto"
            name="codigo_produto"
        />

        <label class="m-2" for="data_inicial">
            <i class="bi bi-calendar-event me-1"></i> Data inicial: </label
        ><br />
        <input
            class="form-control text-center"
            type="date"
            id="data_inicial"
            name="data_inicial"
            required
        />

        <label class="m-2" for="data_final">
            <i class="bi bi-calendar-event me-1"></i> Data final: </label
        ><br />
        <input
            class="form-control text-center"
            type="date"
            id="data_final"
            name="data_final"
            required
        />

        <button type="submit" class="btn btn-primary m-2">
            <i class="bi bi-file-earmark-arrow-up"></i> Emitir
        </button>
    </form>
</div>
{% endblock %}
