{% extends "./template.html" %} {% block content %}
<div class="shadow-lg text-black p-1 m-auto border-orange w-50">
    <h3>Formulário de erro</h3>
    <div class="mb-3">
        <img
            class="procurarimg"
            src="../static/imagens/error.gif"
            width="100"
            alt=""
        />
    </div>
    <hr />
    <form class="m-auto p-4" action="/entregas/cadastrar_erro" method="post">
        <div class="row">
            <div class="mb-3 col m-auto">
                <label for="data_do_erro">Data do erro:</label>
                <input
                    class="form-control text-center m-auto"
                    type="date"
                    id="data_do_erro"
                    name="data_do_erro"
                    required
                />
            </div>

            <div class="mb-3 col m-auto">
                <label for="erro_cliente">Cliente:</label>
                <input
                    class="form-control text-center m-auto"
                    type="text"
                    id="erro_cliente"
                    name="erro_cliente"
                    required
                />
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col m-auto">
                <label for="erro_funcionario">Funcionário:</label>
                <select
                    class="form-select text-center m-auto"
                    name="erro_funcionario"
                    id="erro_funcionario"
                >
                    {% for i in funcionarios %} {% if i.funcao == 'Conferente'
                    or i.funcao == 'Motorista' %}
                    <option class="lista">{{ i.nome }}</option>
                    {% endif %} {% endfor %}
                </select>
            </div>

            <div class="mb-3 m-auto col">
                <label for="rota_da_entrega">Rota:</label>
                <select
                    class="form-select text-center m-auto"
                    name="rota_da_entrega"
                    id="rota_da_entrega"
                    required
                >
                    {% for i in rotas %}
                    <option class="lista">{{ i.rota }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3 m-auto col">
                <label for="quantidade_de_erros">Quantidade de erros:</label>
                <input
                    class="form-control text-center m-auto"
                    type="number"
                    id="quantidade_de_erros"
                    name="quantidade_de_erros"
                    min="1"
                    required
                />
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col">
                <label for="motorista_da_entrega">Motorista:</label>
                <select
                    class="form-select text-center m-auto"
                    name="motorista_da_entrega"
                    id="motorista_da_entrega"
                    required
                >
                    {% for i in funcionarios %} {% if i.funcao == 'Motorista' %}
                    <option class="lista">{{ i.nome }}</option>
                    {% endif %} {% endfor %}
                    <option class="lista">-</option>
                </select>
            </div>

            <div class="mb-3 col m-auto">
                <label for="tipo_do_erro">Tipo do erro:</label>
                <select
                    class="form-select text-center m-auto"
                    name="tipo_do_erro"
                    id="tipo_do_erro"
                    required
                >
                    <option class="lista">Falta do produto</option>
                    <option class="lista">Produtos trocado</option>
                    <option class="lista">Produtos não entregue</option>
                </select>
            </div>
        </div>
        <div class="mb-3 m-auto">
            <label for="produto_erro">Produtos do erro:</label>
            <textarea
                class="form-control text-left m-auto"
                name="produto_erro"
                id="produto_erro"
                required
            >
            </textarea>
        </div>

        <div class="mb-3 m-auto">
            <label for="descricao_do_erro">Descrição do erro:</label>
            <textarea
                class="form-control text-left m-auto"
                name="descricao_do_erro"
                id="descricao_do_erro"
                required
            >
            </textarea>
        </div>

        <input class="btn btn-warning mb-1" type="submit" value="Cadastrar" />
    </form>
</div>
{% endblock %}
