{% extends "./template.html" %} {% block content %}
<div class="shadow-lg p-1 m-auto border-orange w-50">
    <h3><i class="bi bi-clipboard2-plus"></i> Formulário de erro logístico</h3>
    <div class="mb-3">
        <img
            class="procurarimg"
            src="../static/imagens/error.gif"
            width="100"
            alt=""
        />
    </div>
    <hr />
    <form class="m-auto p-4" action="/entregas/cadastrar_erro" method="post">
        <div class="row">
            <div class="mb-3 col m-auto">
                <label for="data_do_erro"
                    ><i class="bi bi-calendar-event"></i> Data do erro:</label
                >
                <input
                    class="form-control text-center m-auto"
                    type="date"
                    id="data_do_erro"
                    name="data_do_erro"
                    required
                />
            </div>

            <div class="mb-3 col m-auto">
                <label for="erro_cliente"
                    ><i class="bi bi-person-lines-fill"></i> Cliente:</label
                >
                <input
                    class="form-control text-center m-auto"
                    type="text"
                    id="erro_cliente"
                    name="erro_cliente"
                    required
                />
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col m-auto">
                <label for="erro_funcionario"
                    ><i class="bi bi-person-badge-fill"></i> Funcionário:</label
                >
                <select
                    class="form-select text-center m-auto"
                    name="erro_funcionario"
                    id="erro_funcionario"
                >
                    {% for i in funcionarios %} {% if i.funcao == 'Conferente'
                    or i.funcao == 'Motorista' %}
                    <option class="lista">{{ i.nome }}</option>
                    {% endif %} {% endfor %}
                </select>
            </div>

            <div class="mb-3 m-auto col">
                <label for="rota_da_entrega"
                    ><i class="bi bi-signpost-2"></i> Rota:</label
                >
                <select
                    class="form-select text-center m-auto"
                    name="rota_da_entrega"
                    id="rota_da_entrega"
                    required
                >
                    {% for i in rotas %}
                    <option class="lista">{{ i.rota }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3 m-auto col">
                <label for="quantidade_de_erros"
                    ><i class="bi bi-exclamation-triangle"></i> Quantidade de
                    erros:</label
                >
                <input
                    class="form-control text-center m-auto"
                    type="number"
                    id="quantidade_de_erros"
                    name="quantidade_de_erros"
                    min="1"
                    required
                />
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col">
                <label for="motorista_da_entrega"
                    ><i class="bi bi-truck"></i> Motorista:</label
                >
                <select
                    class="form-select text-center m-auto"
                    name="motorista_da_entrega"
                    id="motorista_da_entrega"
                    required
                >
                    {% for i in funcionarios %} {% if i.funcao == 'Motorista' %}
                    <option class="lista">{{ i.nome }}</option>
                    {% endif %} {% endfor %}
                    <option class="lista">-</option>
                </select>
            </div>

            <div class="mb-3 col m-auto">
                <label for="tipo_do_erro"
                    ><i class="bi bi-flag-fill"></i> Tipo do erro:</label
                >
                <select
                    class="form-select text-center m-auto"
                    name="tipo_do_erro"
                    id="tipo_do_erro"
                    required
                >
                    <option class="lista">Falta do produto</option>
                    <option class="lista">Produtos trocado</option>
                    <option class="lista">Produtos não entregue</option>
                </select>
            </div>
        </div>

        <div class="mb-3 m-auto">
            <label for="produto_erro"
                ><i class="bi bi-box-seam"></i> Produtos do erro:</label
            >
            <textarea
                class="form-control text-left m-auto"
                name="produto_erro"
                id="produto_erro"
                required
            ></textarea>
        </div>

        <div class="mb-3 m-auto">
            <label for="descricao_do_erro"
                ><i class="bi bi-card-text"></i> Descrição do erro:</label
            >
            <textarea
                class="form-control text-left m-auto"
                name="descricao_do_erro"
                id="descricao_do_erro"
                required
            ></textarea>
        </div>

        <button class="btn btn-primary mb-1" type="submit">
            <i class="bi bi-send-check"></i> Cadastrar
        </button>
    </form>
</div>
{% endblock %}
