{% extends "./template.html" %} {% block content %}
<iframe
    style="width: 100%; height: 1800px"
    src="https://dados.lucascoding.com.br/public/dashboard/0e946ba5-d5d4-402a-9ccc-b18d1d56817a"
    frameborder="0"
    allowtransparency
    id="Iframe"
></iframe>

<script>
    // Selecting the iframe element
    var frame = document.getElementById("Iframe");

    // Adjusting the iframe height onload event
    frame.onload = function () {
        // set the height of the iframe as
        // the height of the iframe content
        frame.style.height =
            frame.contentWindow.document.body.scrollHeight + "px";

        // set the width of the iframe as the
        // width of the iframe content
        frame.style.width =
            frame.contentWindow.document.body.scrollWidth + "px";
    };
</script>

{% endblock %}
