{% extends "./template.html" %} {% block content %}
<style>
    table.dataTable th,
    table.dataTable td {
        text-align: center !important;
        vertical-align: middle !important;
    }

    th.sorting,
    th.sorting_asc,
    th.sorting_desc,
    th.sorting_disabled {
        text-align: center !important;
        vertical-align: middle !important;
    }

    .dataTables_length .form-select {
        background-color: #212529 !important;
        color: white;
    }
    .dataTables_length {
        display: flex;
    }
</style>
<h2><i class="bi bi-truck me-2"></i>Listagem de Entregas</h2>
<h4><i class="bi bi-calendar-event me-1"></i>Referente ao mês de {{ mes }}</h4>

<div class="d-flex justify-content-center flex-wrap m-1 p-1 text-center gap-2">
    <!-- Rank de motoristas -->
    <div class="shadow border-orange m-3 p-2 h-50">
        <h4><i class="bi bi-trophy me-1"></i>Rank de Motoristas</h4>
        <table
            class="table-bordered table-sm text-center align-middle border-black"
        >
            <thead class="table-dark border-black">
                <tr>
                    <th>Nome</th>
                    <th>Positivos</th>
                    <th>Negativos</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for i in resultados %}
                <tr>
                    <td>{{ i.motorista }}</td>
                    <td>{{ i.total_positivo }}</td>
                    <td>{{ i.total_negativo }}</td>
                    <td>{{ i.total_sum }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Entregas por rota -->
    <div class="shadow border-orange m-3 p-2 h-50">
        <h4><i class="bi bi-geo-alt-fill me-1"></i>Entregas por Rota</h4>
        <table
            class="table-bordered table-sm text-center align-middle border-black"
        >
            <thead class="table-dark border-black">
                <tr>
                    <th>Rota</th>
                    <th>Entregas</th>
                    <th>Reentregas</th>
                </tr>
            </thead>
            <tbody>
                {% for i in resultados_entregas %}
                <tr>
                    <td>{{ i.rota }}</td>
                    <td>{{ i.total_entregas }}</td>
                    <td>{{ i.total_reentregas }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Média de tempo por rota -->
    <div class="shadow border-orange m-3 p-2 h-50">
        <h4><i class="bi bi-stopwatch-fill me-1"></i>Média Tempo de Entrega</h4>
        <table
            class="table-bordered m-auto table-sm text-center align-middle border-black"
        >
            <thead>
                <tr>
                    <th>Rota</th>
                    <th>Média de Entrega</th>
                </tr>
            </thead>
            <tbody>
                {% for i in rotas %}
                <tr>
                    <td>{{ i.rota }}</td>
                    <td>{{ i.tempo_medio_rota }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Totais gerais -->
    <div class="shadow border-orange m-3 p-2 h-50">
        <h5><i class="bi bi-list-check me-1"></i>Totais Gerais</h5>
        <h6>Total de Entregas: {{ total_de_entregas }}</h6>
        <h6>
            Entregas Realizadas: {{ total_de_entregas - total_de_reentregas }}
        </h6>
        <h6>Total de Reentregas: {{ total_de_reentregas }}</h6>
        <h6>Entregas Não Realizadas: {{ tota_nao_entregas }}</h6>

        {% if total_de_entregas > 0 %}
        <h6>
            Reentregas por entrega: {{ "%.2f" % ((total_de_reentregas /
            total_de_entregas)*100) }}%
        </h6>
        {% else %}
        <h6>Reentregas por entrega: 0%</h6>
        {% endif %} {% if b > 0 %}
        <h6>Média de entregas/dia: {{ "%.0f" % (total_de_entregas / b) }}</h6>
        <h6>
            Média de reentregas/dia: {{ "%.0f" % (total_de_reentregas / b) }}
        </h6>
        {% endif %}
    </div>
</div>

<!-- Tabela detalhada -->

<div class="table-responsive m-2 p-2 fs-12">
    <table id="tabelaEntregas"
        class="small shadow-lg table-bordered m-auto table-sm text-center align-middle border-black"
    >
        <thead class="table-dark border-black">
            <tr>
                <th><i class="bi bi-calendar-event"></i> Data</th>
                <th><i class="bi bi-person"></i> Motorista</th>
                <th><i class="bi bi-truck"></i> Caminhão</th>
                <th><i class="bi bi-person-badge"></i> Conferente</th>
                <th><i class="bi bi-signpost-2"></i> Rota</th>
                <th><i class="bi bi-boxes me-1"></i>Q. Entregas</th>
                <th><i class="bi bi-arrow-repeat me-1"></i>Reentregas</th>
                <th><i class="bi bi-geo me-1">Rodagem</th>
                <th><i class="bi bi-stopwatch-fill me-1">Tempo Total</th>
                <th><i class="bi bi-stopwatch-fill me-1">Tempo Entregas</th>
                <th><i class="bi bi-stopwatch me-1">Média Entregas</th>
                <th><i class="bi bi-hourglass-split me-1">Tempo</th>
                <th class="botoesacao">
                    <div><i class="bi bi-gear"></i> Ação</div>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for entrega in entregas %}
            <tr>
                <td>{{ entrega.data_da_entrega.strftime('%d/%m/%Y') }}</td>
                <td>{{ entrega.motorista.title() }}</td>
                <td>{{ entrega.caminhao }}</td>
                <td>{{ entrega.conferente.title() }}</td>
                <td>{{ entrega.rota }}</td>
                <td>{{ entrega.quantidade_de_entregas }}</td>
                <td>{{ entrega.reentregas }}</td>
                <td>{{ entrega.rodagem }}</td>
                <td>{{ entrega.tempo_total }}</td>
                <td>{{ entrega.tempo_total_entrega }}</td>
                <td>{{ entrega.tempo_medio_entrega }}</td>
                <td>{{ entrega.resultado_tempo }}</td>
                <td>
                    <form
                        action="/entregas/deletar_entrega/{{ entrega.id }}"
                        method="post"
                    >
                        <button
                            class="btn btn-danger btn-sm"
                            type="submit"
                            title="Apagar"
                        >
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        new DataTable("#tabelaEntregas", {
            responsive: true,
            pageLength: 10,
            searching: false,
            order: [[0, "desc"]],
            columnDefs: [{ orderable: false, targets: [4, 5] }], // Ajuste os índices conforme suas colunas
            language: {
                search: "Procurar:",
                decimal: ",",
                emptyTable: "Nenhum dado disponível na tabela",
                info: "Mostrando _START_ até _END_ de _TOTAL_ registros",
                infoEmpty: "Mostrando 0 até 0 de 0 registros",
                infoFiltered: "(filtrado de _MAX_ registros no total)",
                thousands: ".",
                lengthMenu: "Mostrar _MENU_ registros",
                loadingRecords: "Carregando...",
                processing: "Processando...",
                zeroRecords: "Nenhum registro correspondente encontrado",
                paginate: {
                    first: "Primeiro",
                    last: "Último",
                    next: "Próximo",
                    previous: "Anterior",
                },
                aria: {
                    sortAscending:
                        ": ativar para ordenar a coluna em ordem crescente",
                    sortDescending:
                        ": ativar para ordenar a coluna em ordem decrescente",
                },
            },
        });
    });
</script>

{% endblock %}
