{% extends "./template.html" %} {% block content %}
<div class="shadow-lg p-1 m-auto border-orange w-50">
    <h3><i class="bi bi-journal-plus me-2"></i>Cadastro de conferência</h3>
    <hr />
    <form
        class="p-4"
        action="/recebimento/cadastrar"
        enctype="multipart/form-data"
        method="post"
    >
        <div class="row">
            <div class="col mb-3">
                <label for="data_recebimento">
                    <i class="bi bi-calendar-event me-1"></i>Data do
                    recebimento:
                </label>
                <input
                    class="form-control text-center m-auto"
                    type="date"
                    id="data_recebimento"
                    name="data_recebimento"
                    required
                />
            </div>

            <div class="col mb-3">
                <label for="quantidade_notas">
                    <i class="bi bi-card-checklist me-1"></i>Quantidade de
                    notas:
                </label>
                <input
                    class="form-control text-center m-auto"
                    type="number"
                    id="quantidade_notas"
                    name="quantidade_notas"
                    step="1"
                    min="0"
                    value="0"
                    required
                />
            </div>

            <div class="col mb-3">
                <label for="prateleiras">
                    <i class="bi bi-stack me-1"></i>Prateleiras inseridas?
                </label>
                <select
                    class="form-select text-center m-auto"
                    name="prateleiras"
                    id="prateleiras"
                >
                    <option value="true">Sim</option>
                    <option value="false">Não</option>
                </select>
            </div>
        </div>

        <div
            class="row align-items-center d-flex justify-content-center align-items-center"
        >
            <div class="col mb-3">
                <label for="estoque">
                    <i class="bi bi-box-seam me-1"></i>Estoques conferidos?
                </label>
                <select
                    class="form-select text-center m-auto"
                    name="estoque"
                    id="estoque"
                >
                    <option value="true">Sim</option>
                    <option value="false">Não</option>
                </select>
            </div>

            <div class="col mb-3">
                <label for="produto_novo">
                    <i class="bi bi-star-fill me-1"></i>Produto novo?
                </label>
                <select
                    class="form-select text-center m-auto"
                    name="produto_novo"
                    id="produto_novo"
                >
                    <option value="true">Sim</option>
                    <option value="false">Não</option>
                </select>
            </div>

            <div class="col mb-3">
                <label for="conferente">
                    <i class="bi bi-person me-1"></i>Conferente:
                </label>
                <select
                    required
                    name="conferente"
                    class="form-select text-center m-auto"
                    id="conferente"
                >
                    {% for i in conferentes %}
                    <option class="lista">{{ i.nome }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="d-flex flex-column mb-2">
            <label class="m-3" for="foto_prancheta">
                <i class="bi bi-image me-1"></i>Foto da Prancheta: </label
            ><br />
            <input
                class="form-control form-control-sm m-auto"
                placeholder="Foto"
                type="file"
                id="foto_prancheta"
                required
                name="foto_prancheta"
            />
        </div>

        <button
            type="submit"
            class="btn btn-sm btn-primary d-flex align-items-center m-auto justify-content-center"
        >
            <i class="bi bi-check2-circle me-1"></i> Cadastrar
        </button>
    </form>
    <div>{% endblock %}</div>
</div>
