{% extends "./template.html" %} {% block content %}
<h2 class="m-2">Notas conferidas:</h2>
<br />
<h4 class="m-2">Total de notas conferidas: {{total_recebimento}}.</h4>
<div
    class="d-flex flex-column align-items-center w-50 m-auto justify-content-center text-center mt-4"
>
    <h5>Notas conferidas por conferente:</h5>
    <table class="table-bordered mb-4 w-25 text-center align-middle">
        <thead>
            <tr>
                <th>Conferente</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            {% for conferente, quantidade in recebimento_por_conferente %}
            <tr>
                <td>{{ conferente }}</td>
                <td>{{ quantidade }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-center text-center">
    <div class="shadow-lg table-responsive">
        <table class="table-bordered table text-center align-middle">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>N. Notas</th>
                    <th>Estoques?</th>
                    <th>Prateleiras?</th>
                    <th>Produto Novo?</th>
                    <th>Conferente</th>
                    <th>Prancheta</th>
                    <th>Criador</th>
                    <th>Ação</th>
                    {% if current_user.is_authenticated %} {% endif %}
                    <th class="botoesacao">Criador</th>
                </tr>
            </thead>
            {% for recebimento in recebimentos %}
            <tbody>
                <tr>
                    <td>
                        {{ recebimento.data_recebimento.strftime('%d/%m/%Y') }}
                    </td>
                    <td>{{ recebimento.quantidade_notas }}</td>
                    <td
                        class="{{ 'bg-success text-white' if recebimento.estoques else 'text-white' }}"
                    >
                        {{ 'Realizado' if recebimento.estoques else 'Não
                        realizado' }}
                    </td>

                    <td
                        class="{{ 'bg-success text-white' if recebimento.prateleiras else 'text-white' }}"
                    >
                        {{ 'Realizado' if recebimento.prateleiras else 'Não
                        realizado' }}
                    </td>

                    <td>{{ 'Sim' if recebimento.produto_novo else 'Não' }}</td>

                    <td>{{ recebimento.conferente}}</td>
                    <td>
                        <!-- Botão para abrir o modal -->
                        <button
                            type="button"
                            class="btn btn-sm btn-warning"
                            data-bs-toggle="modal"
                            data-bs-target="#modalFoto{{ recebimento.id }}"
                        >
                            Abrir foto
                        </button>

                        <!-- Modal dinâmico -->
                        <div
                            class="modal fade"
                            id="modalFoto{{ recebimento.id }}"
                            tabindex="-1"
                            aria-labelledby="modalLabel{{ recebimento.id }}"
                            aria-hidden="true"
                        >
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5
                                            class="modal-title"
                                            id="modalLabel{{ i.id }}"
                                        >
                                            Foto
                                        </h5>
                                        <button
                                            type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Fechar"
                                        ></button>
                                    </div>
                                    <div class="modal-body"></div>
                                    <div class="modal-footer">
                                        <button
                                            type="button"
                                            class="btn btn-secondary"
                                            data-bs-dismiss="modal"
                                        >
                                            Fechar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>{{ recebimento.criador}}</td>
                    {% if current_user.is_authenticated and
                    current_user.username == recebimento.criador %}
                    <td class="flexNoBoards botoesacao">
                        <form
                            action="/recebimento/deletar/{{ recebimento.id }}"
                            method="get"
                        >
                            <input
                                class="btn btn-sm btn-warning"
                                type="submit"
                                value="Apaga"
                            />
                        </form>
                    </td>
                    {% else %}
                    <td class="flexNoBoards botoesacao"></td>
                    {% endif %}
                    <td class="">{{ recebimento.criador }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
