{% extends "./template.html" %} {% block content %}
<div class="shadow-lg p-1 m-auto border-orange w-50">
    <h2><i class="bi bi-clipboard-data me-2"></i>Relatório de recebimento</h2>
    <form
        class="m-2 w-50 m-auto"
        action="/recebimento/relatorio_emitir"
        method="post"
    >
        <label class="m-2" for="data_inicial">
            <i class="bi bi-calendar-check me-1"></i>Data inicial: </label
        ><br />
        <input
            class="form-control text-center"
            type="date"
            id="data_inicial"
            name="data_inicial"
            required
        />

        <label class="m-2" for="data_final">
            <i class="bi bi-calendar-event me-1"></i>Data final: </label
        ><br />
        <input
            class="form-control text-center"
            type="date"
            id="data_final"
            name="data_final"
            required
        />

        <div class="m-4">
            <button
                type="submit"
                class="btn btn-primary m-auto d-flex align-items-center justify-content-center"
            >
                <i class="bi bi-file-earmark-text me-2"></i>Emitir
            </button>
        </div>
    </form>
</div>
{% endblock %}
